%meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
%title= title
%meta(name="author" content="Henrik Nyh (http://henrik.nyh.se)")

%link(rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon")
%link(rel="stylesheet" type="text/css" href="/stylesheets/master.css")

%script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
%script(type="text/javascript" src="/javascripts/app.js")

= @more_head
