- self.title = "no such user on Delishlist"
- self.header = "no such user"

%p
  %strong Alas!
  There is no user by that name on
  = delicious_link, "."
%p You may have mistyped or followed a broken link.
