!!!
%html
  %head
    = partial :head
    %link(rel="stylesheet" type="text/css" href="/stylesheets/set_image.css")
    %script(type="text/javascript" src="/javascripts/set_image.js")
  
  %body
    = yield
