- self.title = "Image has been set"
- head do
  :javascript
    window.Delishlist = #{ { :url => @image.image_url, :id => @id }.to_json };

- unless @image.image_url.blank?
  = image_tag(@image.image_url, :alt => "")
