#left
  float: left
  width: 45%

#right
  float: left
  width: 45%
  margin-left: 5%

code.example
  border: 1px solid #AAA

dl.features
  dt
    margin-top: 45px
    &:first-child
      margin-top: 30px
