#signdown
  float: left
  width: 40%

#features
  float: left
  width: 50%
  margin-left: 5%

code.example
  border: 1px solid #AAA

#name, #name-shadow
  font-family: monospace
  font-size: 1.2em
  padding: 0 0.2em

#name-shadow
  position: absolute
  top: -99999px

#features
  dd
    p:first-child
      margin-top: 0
